<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ item.name }}</short>
  <description>{{ item.description }}</description>
  {% for value in item.ports %}
  <port protocol="{{ value.protocol }}" port="{{ value.port }}"/>
  {% endfor %}
</service>
